body {
  background-color: #D50625
}

@media (min-width: 600px) {
  .pokedex {
    height: 520px;
    width: 950px;
    background-color: #D50625;
    margin: auto;
  }

  .top {
    padding: 4rem 2rem;
  }

  .button {
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    padding: 5px;
    display: inline-block;
    margin-left: 40px;
  }

  .button-inner {
    border-radius: 50%;
    background-color: blue;
    height: 100%;
    width: 100%;
    display: block;
  }

  .bezel {
    background-color: grey;
    height: 600px;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 15px;

  }

  .bottom-left, .bottom-right {
    display: inline-block;
  }

  .bottom-right {
    padding-left: 30px;
  }

  .d-pad {
    height: 300px;
    width: 300px;
    background-color: grey;
    position: relative;
    top: 10rem;
  }

  .display-screen {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
    display: block;
  }

  .sub-screen {
    height: 225px;
    width: 550px;
    background-color: #fbfd00;
    border-radius: 25px;
  }

}
