body {
  margin: 0px;
  height: -webkit-fill-available;
  font-family: 'VT323', monospace;
  color: #587e8c;
  background-color: #fc2243;
}

.rotate-center {
  animation: rotate-center 0.6s ease;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slide-from-bottom {
	animation: slide-from-bottom 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) forwards;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-80px);
  }
}

.swim {
	animation: swim 3s cubic-bezier(0.600, -0.280, 0.735, 0.045) forwards;
}

@keyframes swim {
  0% {
    transform: translateY(40px);
  }
  5% {
    transform: translateY(20px) translateX(75px);
  }
  10% {
    transform: translateY(40px);
  }
  15% {
    transform: translateY(20px) translateX(-75px);
  }
  20% {
    transform: translateY(40px);
  }
  25% {
    transform: translateY(20px) translateX(75px);
  }
  30% {
    transform: translateY(40px);
  }
  35% {
    transform: translateY(20px) translateX(-75px);
  }
  40% {
    transform: translateY(40px);
  }
  45% {
    transform: translateY(20px) translateX(75px);
  }
  50% {
    transform: translateY(40px);
  }
  55% {
    transform: translateY(20px) translateX(-75px);
  }
  40% {
    transform: translateY(40px);
  }
  65% {
    transform: translateY(20px) translateX(75px);
  }
  70% {
    transform: translateY(40px);
  }
  75% {
    transform: translateY(20px) translateX(-75px);
  }
  85% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-80px);
  }
}

.slide-from-top {
	animation: slide-from-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.shake {
  animation: shake 1s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(-10deg); }
  40% { transform: translate(1px, -1px) rotate(10deg); }
  60% { transform: translate(-3px, 1px) rotate(-10deg); }
  80% { transform: translate(-1px, -1px) rotate(10deg); }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.shake-fire {
  animation: shake-fire 0.5s;
  animation-iteration-count: 1;
}
@keyframes shake-fire {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(-10deg); }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
    opacity: 1;
    filter: hue-rotate(-20deg) sepia(.0) saturate(1000%)
  }
  60% {
    transform: translate(-3px, 1px) rotate(-10deg);
    opacity: 1;
    filter: hue-rotate(-20deg) sepia(.0) saturate(1000%)
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
    opacity: 1;
  }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.shake-grass {
  animation: shake-grass 0.5s;
  animation-iteration-count: 1;
}
@keyframes shake-grass {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(-10deg); }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
    opacity: 1;
    filter: hue-rotate(5deg) sepia(.6) saturate(900%)
  }
  60% {
    transform: translate(-3px, 1px) rotate(-10deg);
    opacity: 1;
    filter: hue-rotate(5deg) sepia(.6) saturate(900%)
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
    opacity: 1;
  }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}


.shake-dragon {
  animation: shake-dragon 0.5s;
  animation-iteration-count: 1;
}
@keyframes shake-dragon {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(-10deg); }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
    opacity: 1;
    filter: hue-rotate(-40deg) sepia() saturate(10000%)
  }
  60% {
    transform: translate(-3px, 1px) rotate(-10deg);
    opacity: 1;
    filter: hue-rotate(-40deg) sepia() saturate(10000%)
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
    opacity: 1;
  }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.shake-poison {
  animation: shake-poison 0.5s;
  animation-iteration-count: 1;
}
@keyframes shake-poison {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(-10deg); }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
    opacity: 1;
    filter: hue-rotate(-40deg) sepia(.1) saturate(250%)
  }
  60% {
    transform: translate(-3px, 1px) rotate(-10deg);
    opacity: 1;
    filter: hue-rotate(-40deg) sepia(.1) saturate(250%)
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
    opacity: 1;
  }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.shake-ghost {
  animation: shake-ghost 0.7s;
  animation-iteration-count: 1;
}
@keyframes shake-ghost {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(-10deg); }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
    opacity: 1;
  }
  60% {
    transform: translate(-3px, 1px) rotate(-10deg);
    opacity: 0;
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
    opacity: 0;
  }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}


.zap {
  animation: zap 0.2s;
  animation-iteration-count: 2;
}
@keyframes zap {
  0% {
    transform: translateY(80px) translateX(80px);
    /* transform: translateX(100px); */
  }
  25% {
    transform: translateY(-80px) translateX(-80px);
    /* transform: translateX(-100px); */
  }
  50% {
    transform: translateY(80px) translateX(0px);
    /* transform: translateX(0px); */
  }
  100% {
    transform: translateY(0px) translateX(80px);
    /* transform: translateX(-100px); */
  }
}

.slide-fwd {
	animation: slide-fwd 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-fwd {
  0% {
    /* for some reason, translateZ doesnt work */
    transform: translateZ(0) translateY(0) scale(-.6);
  }
  100% {

    transform: translateZ(160px) translateY(20px) scale(1.7);
  }
}



  .pokedex {
    height: 100%;
    width: 100%;
    background-color: #fc2243;
    margin: auto;
  }

  .top {
    width: 100%;
    height: 50%;
  }

  .header {
    background-color: #D50625;
    height: 150px;
    width: 100%;
  };

  div.button-container-top {
    display: inline-block;
    background-color: #D50625;
    width: 40%;
    height: 100%;
  }

  .button-container-top .tiny-button {
    position: relative;
    bottom: 50%;
    left: 6%;
  }

  .button {
    position: relative;
    bottom: 13%;
    margin-left: 7%;
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    padding: 7px;
    display: inline-block;

  }

  .tiny-button {
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0px 5px;

  }

  .button-inner {
    border-radius: 50%;
    background-color: #71cdf4;
    height: 100%;
    width: 100%;
    display: block;
  }

  .button-2 {
    text-align: center;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    display: inline-block;
  }

  .button-2 select {
    font-size: 3rem;
    font-family: 'VT323', monospace;
  }

  .bottom .tiny-button {
    position: relative;
    bottom: 115px;
  }

  .speaker {
    height: 200px;
    width: 300px;
    display: inline-block;
    position: relative;
    left: 29rem;
    padding-top: 30px;
  }

  .grey-bar {
    width: 100%;
    height: 20px;
    background-color: grey;
    border-radius: 25px;
    margin: 1rem 0rem;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: #58bb68;
  }

  .yellow {
    background-color: #ffcf54;
  }

  .grey {
    background-color: #A6A2A2;
  }

  .divider-block {
    height: 100%;
    width: 49%;
    display: inline-block;
  }

  .divider-block-top {
    height: 50%;
    width: 100%;
    background-color: #D50625;
  }

  .divider-block-bottom {
    height: 50%;
    width: 100%;
    background-color: #fc2243;
  }

  .bezel {
    background-color: #c1c1c1;
    height: 50%;
    padding: 3% 3% 0% 3%;
    margin-top: 4%;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 15px;
  }

  .bezel .tiny-button {
    position: relative;
    bottom: 5rem;
    left: 1rem;
  }

  .bottom {
    width: 100%;
    height: 50%;
  }

  .bottom-left, .bottom-right {
    display: inline-block;
  }

  .bottom-left {
    margin-left: 2%;
  }

  .bottom-right {
    padding-left: 30px;
    position: relative;
    bottom: 3rem;
    margin-bottom: 2rem;
  }

  .bottom-left-top {
    margin: 20px 0px;
  }

  .d-pad {
    height: 300px;
    width: 300px;
  }

  .d-up, .d-left, .d-center, .d-right, .d-down {
    height: 95px;
    width: 95px;
    background-color: grey;
  }

  .d-up, .d-down {
    margin: auto;
  }

  .d-left, .d-center, .d-right {
    display: inline-block;
  }

  .d-center {
    position: relative;
    left: 4px;
  }

  .d-up {
    position: relative;
    bottom: -2px;
  }

  .d-right {
    position: relative;
    left: -4px;
  }

  .d-left {
    position: relative;
    left: 12px;
  }

  .d-down {
    position: relative;
    bottom: 5px;
  }

  .display-screen {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 576px;
    margin: auto;
    display: block;
    text-align: center;
  }

  .list-display {
    height: 444px;
    top: 1rem;
    font-size: 2.5rem;
    margin: auto;
    width: 90%;
    overflow: auto;
    left: 2.6rem;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }

  .sprite-container {
    width: 100%;
    height: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

  }

  .pokeballs {
    text-align: left;
    height: 24px;
    padding: 20px 0px 0px 20px;
  }

  .test-block{
    height: 416px;
    width: 416px;
    display: inline-block;
    background-color: blue;
    margin: 0px 10px;
  }

  .flavor-text-box {
    width: 90%;
    margin: auto;
    height: 8rem;
    overflow: auto;
    font-size: 2.5rem;
  }

  .add-team-box {
    width: 90%;
    margin: auto;
    overflow: auto;
    font-size: 2.5rem;
    display: none;
  }

  .clear-team-box {
    width: 57%;
    margin: auto;
    overflow: auto;
    font-size: 2.5rem;
    border: solid;
    display: none;
  }

  img {
    height: 100%;
  }

  .sub-screen {
    height: 225px;
    width: 530px;
    border-radius: 25px;
    padding: 1rem 2rem 2rem 2rem;
  }
  .sub-screen span {
    display: inline-block;
    font-size: 3rem;
  }

  .sub-screen input {
    border: none;
    width: 55%;
    font-size: 3rem;
    font-family: 'VT323', monospace;
    color: #587e8c;
    -webkit-appearance: none;
  }

  .sub-screen select {
    display: inline-block;
    font-size: 3rem;
    font-family: 'VT323', monospace;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
  }

  select.lang {
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
  }

  .sub-screen select option {
    font-stretch: 0%;
    font-family: 'VT323', monospace;
    color: #587e8c;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
  }

  .type-block select {
    background-color: transparent;
    color: #587e8c;
    width: 35%;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
  }

  .screen-off {
    background-color: #587e8c;
  }

  .screen-on {
    transition: background-color 1.5s ease;
    background-color: #e5f6fc;
  }

  .red-blink-on {
    transition: background-color 1s ease;
    background-color: #ff0400;
  }

  .red-blink-off {
    transition: background-color 1s ease;
    background-color: #b50020;
  }

  .yellow-blink-on {
    transition: background-color 1s ease;
    background-color: #ffee04;
  }

  .yellow-blink-off {
    transition: background-color 1s ease;
    background-color: #c2ac4a;
  }

  .green-blink-on {
    transition: background-color 1s ease;
    background-color: #5bf574;
  }

  .green-blink-off {
    transition: background-color 1s ease;
    background-color: #58bb68;
  }

  .enter-button {
    padding: 0px;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 3rem;
    margin: auto;
    color: #ffffff;
    background-color: #A6A2A2;
    position: relative;
  }

  .team-button {
    text-align: center;
    font-size: 3rem;
    margin: auto;
    color: #ffffff;
    background-color: #A6A2A2;
    position: relative;
  }

  .height-block {
    display: inline-block;
    width: 43%;
  }

  .weight-block {
    display: inline-block;
    width: 53%;
  }

  .pokedex-on {
    ransition: background-color 0.5s ease;
    background-color: #85d6f9;
  }

  .pokedex-off {
    transition: background-color 0.5s ease;
    background-color: #0099da;
  }

  ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
